body {
    padding: 2em 70px;
    max-width: 1500px;
    margin: auto;
    font-family: sans-serif;
    color: black;
    background: white;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}

h1, h2 {
    color: #005A9C;
    background: white
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.4em;
}

li {
    padding: 0 10px;
}

li a {
    font-size: 1.2em;
    padding: 5px 0;
    display: inline-block;
}

#docs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border: 1px solid navy;
    margin: 5px 0 5px 0;
    padding: 5px;
}


:link {
    color: #00C;
    background: transparent
}

:visited {
    color: #609;
    background: transparent
}

a:active {
    color: #C00;
    background: transparent
}