body {
    max-width: 1000px;
    margin: 20px;
    font-family: sans-serif;
    color: black;
    background: white;
}

ul, li {
    font-size: 1.1em;
    line-height: 1.4;
}

a:link {
    color: #00C;
    background: transparent
}

a:visited {
    color: #609;
    background: transparent
}

a:active {
    color: #C00;
    background: transparent
}

h1, h2 {
    color: #005A9C;
    background: white;
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.7em;
}