body {
    max-width: 1000px;
    min-width: 500px;
    width: 70%;
    margin: 20px auto;
    font-family: sans-serif;
    color: black;
    background: white;
    border: 1px solid #eee;
    padding: 0 30px;
}

ul, li {
    font-size: 1.1em;
    line-height: 1.4;
}

a:link {
    color: #00C;
    background: transparent
}

a:visited {
    color: #609;
    background: transparent
}

a:active {
    color: #C00;
    background: transparent
}

h1, h2 {
    color: #005A9C;
    background: white;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

#overview h1, #overview h2 {
    text-align: center;
}

#overview .img-div {
    width: 70%;
    margin: 50px auto;
}

#overview img {
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table tr:nth-child(1) th {
    text-align: left;
    border-bottom: 1px solid black;
}

table th, table td {
    font-size: 1em;
    padding: 8px;
}

table tr:nth-child(even) td {
    background-color: #efefef;
}
